body
{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
.board
{
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.status
{
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
    width: 100%;
}
.square
{
    background: bisque;
    border: 1px solid black;
    font-size: 5em;
    font-weight: bold;
    height: calc(100% / 3 - 2px);
    padding: 0;
    text-align: center;
    width: calc(100% / 3 - 2px);
}
